* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.line {
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  width: 340.7337951660156px;
  height: 22px;
  top: -46px;
  left: -63.000186920166016px;
  border: 2px red;
}

.first-box {
  border: 2px solid blue;
  justify-content: space-between;
  padding: 10px;
  margin: 20px auto;
  width: 340.7337951660156px;
  height: 74.11185455322266px;
  top: -7.847900390625px;
  left: -63px;
}

.second-box {
  background-color: lightpink;
  border: 0.9038031101226807px solid orange;
  margin: auto;
  width: 340.7337951660156px;
  height: 161.78076171875px;
  top: 84.33984375px;
  left: -63px;
  border-radius: 3.6152124404907227px;
}

.third-box {
  background-color: lightpink;
  border: 2px solid orange;
  margin: auto;
  border-radius: 4px;
  width: 340.7337951660156px;
  height: 74.11185455322266px;
  top: 264.19677734375px;
  left: -63px;
  border-radius: 3.6152124404907227px;
}

.most-popular {
  margin-left: 150px;
}

.flexing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.strike {
  text-decoration: line-through;
  margin-right: 10px;
  margin-left: 30px;
}

.fourtyPercent {
  margin-left: 30px;
}

select,
input[type="radio"] {
  padding: 5px;
  margin-right: 10px;
}

select.color-select {
  margin-right: 10px;
}

button.cart {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #cd264f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 341px;
  height: 48px;
  top: 404px;
  left: -64px;
  border-radius: 4px 4px 4px 0px;
}

.clicked {
  border-color: blue; /* Change this to your desired border color */
}

.shipping {
  color: #cd264f;
}

.percentage {
  margin-left: 90px;
}

.DKK528 {
  padding-left: 70px;
}

.flexing-free {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.total-money {
  margin-left: 40px;
}

.copyright {
  margin-left: 680px;
}
